html,body {
	background-color: rgb(216, 216, 216);
	color: rgb(46, 46, 46);
	margin: 0;
}

.loggedin {
	float: right;
}

.button-padding {
	padding-top: 2px;
}

.server-column {
	height: 30px;
	border: 1px solid black;
}

.server-column:hover {
	background-color: #6c6c6c;
}

.create-room-button:active:hover {
	background-color: #696969;
	/* haha 69 */
}

.create-room-button {
	top: 2.5%;
	right: 1%;
	float: right;
	padding-top:5px;
	width: 80px;
	height: 40px;
	color: #BEBEBE;
	background-color: #4E4E4E;
	position: absolute;
}

.create-room {
	display: none;
}

.reload-button:active:hover {
	background-color: #696969;
}

.window-container {
	position: absolute;
	
	right: 110%;
}

.reload-button {
	top: 2.5%;
	float: right;
	padding-top:13px;
	width: 80px;
	height: 33px;
	color: #BEBEBE;
	background-color: #4E4E4E;
	position: absolute;
}

.settings-container {
	background-color: rgb(159, 159, 159);
	padding: 10px;
	transition: all;
    transition-duration: 0.9s;
	position:relative;
	width: 900px;
	height: 600px;
	right: 110%;
	border: 1px solid black;
	float:right;
	overflow:auto;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently*/
}

.server-list-container {
	background-color: rgb(159, 159, 159);
	padding: 10px;
	transition: all;
    transition-duration: 0.9s;
	position:relative;
	width: 900px;
	height: 600px;
	border: 1px solid black;
	float:right;
	overflow:auto;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently*/
}

.main-menu {
	text-align: center;
	margin: 5px;
}

.button {
	position: sticky;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently*/

	background: #FFFFFF;
	background: -moz-linear-gradient(top, #FFFFFF 0%, #8E8E8E 100%);
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #8E8E8E 100%);
	background: linear-gradient(to bottom, #FFFFFF 0%, #8E8E8E 100%);

    border: 1px solid black;
    transition-delay: 0.05s;
    transition-duration: 0.5s;
	width: 200px;
	height: 20px;
	text-align: center;
	
}

.buttonfocused {
	width: 220px;
	background: #BEBEBE;
	background: -moz-linear-gradient(top, #BEBEBE 0%, #4E4E4E 100%);
	background: -webkit-linear-gradient(top, #BEBEBE 0%, #4E4E4E 100%);
	background: linear-gradient(to bottom, #BEBEBE 0%, #4E4E4E 100%);
}

.button:hover {
	width: 220px;
	background: #BEBEBE;
	background: -moz-linear-gradient(top, #BEBEBE 0%, #4E4E4E 100%);
	background: -webkit-linear-gradient(top, #BEBEBE 0%, #4E4E4E 100%);
	background: linear-gradient(to bottom, #BEBEBE 0%, #4E4E4E 100%);
}

.ui {
	position: relative;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently*/
}

.canvas-container {
	position: relative;
	display: none;
}

canvas {
	object-fit: contain;
	position: absolute;
	background-color: rgb(216, 216, 216);
}

/* UI */

.inventory {
	position: absolute;
	color: white;
	right: 4%;
	bottom: 16%;
	font-size: 50px;
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 1px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.ammo-counter {
	position: absolute;
	color: white;
	right: 4%;
	bottom: 7%;
	font-size: 60px;
	-webkit-text-stroke: black;
	-webkit-text-stroke-width: 1px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.inventoryitem {
	position: fixed;
	right: 7%;
}